[server]
# Perform maintenance tasks when idle
maintenance = true

# Settings for importing bundles
[import]
# location for gpg keyrings
gpg_homedir = /gpg

# trusted public keys for received flatpaks, empty for no signature check
keyring = eos-flatpak-keyring.gpg

# key id for signing received flatpaks, empty for no signing
sign_key =

# Leave empty if no authentication is needed
# passwords are encrypted using PBKDF2-SHA256
[users]
user1 = $pbkdf2-sha256$29000$Maa01jqH0DoHQCiF0FoLoQ$9h4tyFdzD2XnV1MsOjkYjgler55Es4jIxUtyWDnGmxM
user2 = $pbkdf2-sha256$29000$DyFE6P1fy1kLIQTA2DtnLA$gahi5rfSSxzDoEOEVmzPIufN.PV7NQ.kXAXhvxZlx10

# repo-<repo_name> are mappings of allowed repos to their locations
[repo-main]
path = /path/to/main/repo

[repo-alternate-repo]
path = /path/to/alternate/repo

[remote-test]
type = dummy

[remote-public]
type = http
url = http://ostree-server.invalid:5678/upload
username = user3
password = secret3

[remote-public2]
type = http
url = http://ostree-server2.invalid:5000/upload
